*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}

body{
    background-color: rgb(211, 207, 207);
}

.logo img{
    width: 200px;
}



/* hasta maximo de 1024px  (chiquito)*/
@media screen and (max-width:1024px) {
    .container{
        padding: 30px;
        background-color: rgb(191, 48, 48);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 60px;
        padding-right: 60px;
    }  
    .imagen_logo1 {
        width: 300px;
    
    } 
}


/* desde 1024px en adelante(grande) */
@media screen and (min-width:1024px) {
    .container{
        padding: 30px;
        background-color: rgb(191, 48, 48);
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 100px;
        padding-right: 100px;
    }
    .imagen_logo1 {
        width: 500px;
    }
}


.botones {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.botones li a {
    padding: 30px;
    color: black;
}

/* hasta maximo de 680px (chiquito) */
@media screen and (max-width: 680px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        background-color: rgb(191, 48, 48);
    }
}

/* desde 680px en adelante (grande)*/
@media screen and (min-width: 680px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        background-color: rgb(191, 48, 48);
    }
}

/* hasta maximo de 1024px  (chiquito) */
@media screen and (max-width: 1024px) {
    .Colores{
        background-color: rgb(47, 47, 47);
        padding-left: 50px;
        padding-right: 50px;
        color: white;
        padding-top: 30px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Ambasfilas{
        margin-top: 13px;
        order: 2;
    }
    .parrafoColores {
        order: 1;
    }
    .Fila{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* desde 1024px en adelante(grande) */
@media screen and (min-width:1024px) {
    .Colores{
        background-color: rgb(47, 47, 47);
        padding-left: 100px;
        padding-right: 100px;
        color: white;
        padding-top: 30px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }  
    .Ambasfilas{
        margin-right:50px;
        order: 1;
    }
    .parrafoColores {
        order: 2;
    }
    .Fila{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}

.Bolita1{
    background-color: red;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;

}

.Bolita2{
    background-color: rgb(0, 0, 0);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;
    border: 1px; color: rgb(255, 255, 255);
}

.Bolita3{
    background-color: rgb(91, 83, 83);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.Bolita4{
    background-color: rgb(169, 149, 133);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.Bolita5{
    background-color: rgb(204, 190, 190);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.Bolita6{
    background-color: rgb(235, 149, 19);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.Bolita7{
    background-color: rgb(233, 105, 181);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.Bolita8{
    background-color: rgb(76, 130, 195);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.Bolita9{
    background-color: rgb(69, 199, 228);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.Bolita10{
    background-color: rgb(48, 191, 44);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.Cuadradodeafuera{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Cuadradodeafuera p {
    font-size: 10px;
    white-space: nowrap;
}


/* hasta maximo de 700px  (chiquito)*/
@media screen and (max-width:700px) {
    footer{
        background-color:white;
        padding-top: 30px;
        padding-bottom: 40px;
        padding-left: 90px;
        padding-right: 90px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: black;
    }  
}

/* desde 700px en adelante(grande) */
@media screen and (min-width:700px) {
    footer{
        background-color:white;
        padding-top: 30px;
        padding-bottom: 40px;
        padding-left: 90px;
        padding-right: 90px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: black;
    }
}

.imagen_logo_footer{
    width: 160px;
}

footer > div {
    padding: 8px;
}

footer ul{
    list-style-type: none; 
    white-space: nowrap; 
    
}

footer li a{
    color: black;
 
}